[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "==1.5.36"
botocore = "==1.8.50"
dj-database-url = "==0.5.0"
dj-static = "==0.0.6"
django-bootstrap-form = "==3.3"
django-storages = "==1.9.1"
docutils = "==0.14"
jmespath = "==0.9.3"
python-dateutil = "==2.6.1"
python-decouple = "==3.3"
pytz = "==2017.3"
s3transfer = "==0.1.13"
six = "==1.11.0"
static3 = "==0.7.0"
django-debug-toolbar = "*"
django-allauth = "*"
gunicorn = "*"
psycopg2 = "==2.7.3.2"
Django = "==2.1.15"
Pillow = "==5.0.0"
django-grappelli = "*"
django-suit = "==0.2.25"
django-jet = "*"
google-api-python-client = "==1.4.1"

[requires]
python_version = "3.6"
